<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		 <setting name="lazyLoadingEnabled" value="true"/>
		 <setting name="aggressiveLazyLoading" value="false"/>
 	</settings>
	<!-- entity -->
	<typeAliases>
		<typeAlias alias="Page" type="com.ikathay.util.page.Page"/>
		<typeAlias alias="Long" type="java.lang.Long"/>
		<typeAlias alias="HashMap" type="java.util.HashMap"/>
		<typeAlias alias="Admin" type="com.ikathay.entity.Admin" />		
		<typeAlias alias="Menu" type="com.ikathay.entity.Menu"/>
	</typeAliases>
</configuration>