<?xml version="1.0" encoding="UTF-8" ?><!--xml版本声明-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd"> <!--xml约束-->
<configuration> <!--Configuration配置；结构；外形-->



    <properties resource="resources/jdbc.properties"/> <!--加载配置文件->jdbc.properties 数据库文件-->

    <typeAliases><!--对象映射的位置-->
        <!--<typeAlias type="entity.Student"/>直接写n个对象-->
        <!--<package name="entity"/> 扫描包-->
        <package name="com.ikathay.entity"/>
    </typeAliases>
    <environments default="mybatis-demo"><!--id随便写-->
        <environment id="mybatis-demo"><!--随便写-->
            <transactionManager type="JDBC"></transactionManager><!--事务管理器 目前是JDBC 以后交给Spring管理事务-->
            <dataSource type="POOLED"><!--数据源 POOLED相当于连接池 池里放链接 -->
                <property name="driver" value="${driver}"/><!--${}用于读取上面jdbc.properties配置文件-->
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${psd}"/><!--以上是通过反射原理注入-->

            </dataSource>
        </environment>
    </environments>
    <mappers><!--声明配置的mapper映射位置 可写文件 这里写的是包-->
        <package name="com.ikathay.dao"/>
    </mappers>
</configuration>